
<div class="admin-info top-margin">
<h1 class="text-center">New Home Image</h1>

<%= render 'form' %>


<div align="center">
  <%= link_to 'Back', home_images_path, :class=>'btn btn-primary'%>
</div>

<</div>