<div class="admin-info top-margin">
<h1 class="text-center">Editing About</h1>
  <br/>

<%= render 'form' %>

  <div align="center">
    <%= link_to 'Back', abouts_path, :class=>'btn btn-primary'%>
  </div>

</div>