<div class="admin-info top-margin">

  <h1 class="text-center">New Copy Right</h1>

<%= render 'form' %>


<div align="center">
  <%= link_to 'Back', copy_rights_path, :class=>'btn btn-primary'%>
</div>
</div>
